<div class="card">
    <h5 class="card-header bg-primary">
        Call Graph /me Endpoint
    </h5>
    <div class="card-body">
        <p class="card-text">
            <th:block th:each="user : ${user}">
                <strong><th:block th:text="${user.key}"></th:block>: </strong>
                <th:block th:text="${user.value}"></th:block>
                <br>
            </th:block>
            <br>
            <a class="btn btn-success" href="/sign_in_status">Sign-in Status</a>
            <a class="btn btn-success" href="/token_details">Token Details</a>
        </p>
    </div>
</div>
