<div class="card">
    <h5 class="card-header bg-primary">
        ID Token Details
    </h5>
    <div class="card-body">
        <p class="card-text">
            The following is a limited subset of some important claims in your ID Token.
            <br>
            <th:block th:each="claim : ${claims}">
                <strong><th:block th:text="${claim.key}"></th:block>: </strong>
                <th:block th:text="${claim.value}"></th:block>
                <br>
            </th:block>
            <br>
            <a class="btn btn-success" href="/sign_in_status">Sign-in Status</a>
            <a class="btn btn-success" href="/token_details">ID Token Details</a>
            <a class="btn btn-success" href="/admin_only">Admins Only</a>
            <a class="btn btn-success" href="/regular_user">Regular Users</a>
        </p>
    </div>
</div>
