<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/">Microsoft Identity Platform</a>
    <span class="navbar-text">Authorization II: Use Active Directory Spring Boot Starter to control access by app roles</span>
    <div class="btn-group ml-auto dropleft">
        <ul class="nav navbar-nav navbar-right">
            <th:block sec:authorize="isAuthenticated()">
                <li class="nav-item">
                    <a class="nav-link" href="/token_details">Hello
                        <th:block sec:authentication="name"></th:block>!
                    </a>
                </li>
                <li>
                    <form action="#" th:action="@{/logout}" method="post">
                        <input class="btn btn-warning" type="submit" value="Sign Out" />
                    </form>
                </li>
            </th:block>
            <th:block sec:authorize="isAnonymous()">
                <li>
                    <a class="btn btn-success" href="/oauth2/authorization/azure">Sign In</a>
                </li>
            </th:block>
        </ul>
    </div>
</nav>